html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: #f2f3f7;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #ffffff;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: #7c7c7c;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1 1;
  width: 1100px;
  margin: 0 auto;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 20px;
    margin-bottom: 10px;
  }
}

.bookshelf-title {
  position: relative;
  /* background-color: #fff; */
  border-radius: 3px;
  color: #7b7b7b;
  padding: 18px 9px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  /* text-align: center; */
  /* -webkit-box-shadow: 0 4px 25px 0px rgba(0,0,0,0.07); */
  /* box-shadow: 0 4px 25px 0px rgba(0,0,0,0.07); */
}
.bookshelf-title::before {
  content: '';
  width: 12%;
  height: 6px;
  position: absolute;
  bottom: -3px;
  z-index: 0;
  left: 0;
  border-radius: 10px;
}

.currentlyReading .bookshelf-title::before {
  background: #35c6df;
}
.wantToRead .bookshelf-title::before {
  background: #df8735;
}
.read .bookshelf-title::before {
  background: #df3576;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background: #414141;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  /* justify-content: center; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 20px 32px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 4px 25px 0px rgba(2, 0, 0, 0.07);
  border-radius: 6px;
  margin: 10px;
  border-bottom: 3px solid #c8c8c8;
  transition: 0.3s ease-in-out;
}

.books-grid li:hover {
  box-shadow: 0 10px 40px 0px rgba(0,0,0,0.2);
}

.book {
  width: 128px;
  position: relative;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-overflow: ellipsis;
}
.book-authors {
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-top {
  position: relative;
  height: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
}

.book-select {
  position: absolute;
  right: -15px;
  top: 195px;
  font-size: 30px;
  color: #797979;
}

.book-shelf-changer {
  position: absolute;
  right: -25px;
  top: 205px;
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.5s;
}
.book-shelf-changer:hover {
  background: #efefef;
}
.book-shelf-changer::before {
  pointer-events: none;
  content: '...';
    position: absolute;
    /* right: -15px; */
    /* top: 195px; */
    font-size: 32px;
    color: #797979;
    line-height: 0.7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.star-ratings {
  position: relative;
  margin-top: -22px;
  margin-top: 10px;
  left: -32px;
  width: 115px;
  background-color: #f0f0f0;
  padding: 5px 0px 5px 10px;
  border-radius: 0px 20px 20px 0px;
}

.star-container {
  height: 21px;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}


/* Custom Diego Slompo*/

.ds-search__list {
  padding: 80px 0;
  width: 1100px;
  margin: 0 auto;
}
.ds-error__not-found p {
  font-size: 30px;
  color: #585858;
  text-align: center;
}

p.ds-error--no-happy {
  font-size: 100px;
  font-weight: bold;
  color: #b9b9b9;
  margin: 20px 0;
}

p.ds-error__terms {
  background-color: #fafafa;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.7;
  margin: 0 5%;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
}


 /* fakeproduct */
 
 .bs-fake {
  display: flex;
  flex-wrap: wrap;
 }
 
 
 :root {
  --gray-light: #eeeeee;
  --gray-accent: #f1f0f0;
}

.block {
  display: block;
  margin: 17px 9px;
  padding: 5px;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}

/* Shared placeholder styles. */
.block--loading::before,
.block--loading::after {
  content: '';
  display: block;
  border-radius: 5px;
  background-image: linear-gradient(
    95deg,
    var(--gray-light) 45%,
    var(--gray-accent) 54%,
    var(--gray-light) 55%,
    var(--gray-light) 64%,
    var(--gray-accent) 65%,
    var(--gray-accent) 79%,
    var(--gray-light) 80%,
    var(--gray-light) 100%
  );
  background-size: 200% 100%;
  background-position: 0 center;
  animation: 0.7s loading infinite;
}

/* Image placeholder. */
.block--loading {
  width: 196px;
}
.block--loading::before {
  width: 100%;
  height: 290px;
}

/* Text placeholder. */
.block--loading::after {
  animation-delay: 50ms;
  width: 80%;
  height: 1rem;
  margin-top: 0.75rem;
}

.block__image {
  border-radius: inherit;
  max-width: 100%;
}

.block__content {
  margin: 0.5rem 0 0;
  line-height: 1;
}

@keyframes loading {
  0% { background-position-x: 0; }
  100% { background-position-x: -200%; }
}
